In [3]:
print("Hello")# only one statement

Hello

In [15]:
print("Welcome to",end=' ')
#String, str String name = "Peter";
#end... --> keyword arguement 
print('Python programming')
print('1998','9','15',end='')
print("--> birthday")

Welcome to Python programming
1998 9 15--> birthday

In [29]:
print("Welcome\nto\nPython\nprogramming")
print("abcd")
print("abcdef\rkkk")

Welcome
to
Python
programming
abcd
kkk

In [20]:
print("Name\tSalary\tComments\\Grade")
print("-"*40)
print("Peter\t35000\tGood \"Performance\"")

Name	Salary	Comments\Grade
----------------------------------------
Peter	35000	Good "Performance"

In [4]:
print(r"Hello\tWorld")
print("Hello"+" World")
print("Hello","World")
print("Hello       World")

Hello\tWorld
Hello World
Hello World
Hello       World

In [25]:
print("123")#-->String(str)
print(123)#-->Int

123
123

In [30]:
r=2;c=3
print("r=",r,",c=",c,sep="" )

r=2,c=3

In [34]:
r = 3
pi = 3.1416
print("Radius of a circle =",r)
print("Area =",pi,"*",r,"*",r,"=",pi*r*r, sep=' ')

Radius of a circle = 3
Area = 3.1416 * 3 * 3 = 28.2744

In [40]:
a=20
b=4*a+5
print("b=",b)
a=30
b=4*a+5
print('b=',b)

b= 85
b= 125

In [43]:
a,b,c=3,4,5

#----Java Swap----
a,b=3,5
a,b=b,a
print(a,b,c)

5 3 5

In [44]:
#P,9,EX

In [49]:
x = 5
print(type(x))
y = 2.5
print(type(y))
z = ('S')
print(type(z))
print(id(y))

<class 'int'>
<class 'float'>
<class 'str'>
1855336307376

In [50]:
no1 = 45
no2 = 72
#sum = no1 + no2 #sum是python的內建函數名稱,請勿亂用
total = no1 + no2
print("avg=",total/2.0)

avg= 58.5

In [ ]:
# P.10, Ex2, DIY here